body    {
    background-image:url("../images/chequered-flag.jpg");
    color:white;
    top: 100%;
    left: 50%;
    text-align: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div #success    {
    position:absolute;
    top:30%;
    left:40%;
    border-style:none;
    border-color:red;
    padding:20px;
}

div #success h3     {
    font-family:"Courier New";
    
}

#wrapper{
	margin: 0 auto;
}