body    {
    
    /*background-image:url("chequered-flag.png");*/
    background-repeat:no-repeat;
    /*background-attachment:fixed;*/
    background-position:right top;
    background-color:white;
    z-index:-1;
    zoom:100%;
}

div #images {
    /*display:block;*/
    position:relative;
    top:0px;
    left:0px;
    border-color:black;
    border-style:solid;
    
    width:100%;
}
img#logo   {
    position:absolute;
    /*height:30em;
    width:84em;*/
    width:102%;
    opacity:0.5;
    left:-310px;
    top:-310px;
    
    
    /*border-radius:8px;*/
}

div #cars    {
    position:absolute;
    top:25%;
    width:20%;
    left:0%;
    border-color:black;
    opacity:1.0;
    z-index:-1;
    
}

div #cars img   {
    height:80px;
    width:100%;
    opacity:0.6;
    
}
div #merc   {
    position:absolute;
    top:10%;
    left:-45%;
    opacity:1.0;
    z-index:-1;
    width:20%;
    
}
div #merc img    {
    
    width:100%;
    
}

div #williams   {
    position:absolute;
    top:40%;
    left:-30%;
    opacity:1.0;
    z-index:-1;
    width:20%;
}

div #williams img   {
    width:100%;
}

div #redbull    {
    position:absolute;
    top:50%;
    left:-40%;
    opacity:0.9;
    z-index:-1;
    width:20%;
}

div #redbull img    {
    width:100%;
}

/*@keyframes animate    {
    0%  {left:10px;}
    5% {left:30px;}
    10% {left:50px;}
    15% {left:70px;}
    20% {left:90px;}
    25% {left:110px;}
    30% {left:130px;}
    35% {left:150px;}
    40% {left:170px;}
    50% {left:190px;}
    60% {left:210px;}
    70% {left:230px;}
    80% {left:250px;}
    90% {left:270px;}
    100% {left:290px;}
}*/


div #continue{
    position:absolute;
    top:20%;
    left:20%;
    
    margin-left:25px;
    margin-top:50px;
}
div #outer  {
    /*position:relative;*/
    float:center;
    height:200px;
    width:200px;
    border-style:solid;
    border-color:black;
    border-radius:2px;
    top:100%;
    left:20px;
    /*margin-top:320px;
    margin-left:20px;*/
} 

div #inner  {
    position:absolute;
    /*float:center;*/
    width:300px;
    top:130%;
    left:40%;
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius:2px;
    padding:50px;
}

div #inner h3   {
    top:5%;
    left:5%;
}
div #logo   {
    position:relative;
    margin-left:300px;
    margin-top:300px;
}
form #forrm {
    position:relative;
    margin-top:300px;
    margin-left:300px;
}

div #schedule   {
    background-color:grey;
    top:120%;
    left:0%;
    position:absolute;
    float:right;
    border-top-color:black;
    border-color:black;
    border-style:solid;
    border-radius:10px;
    border-width:1px;
    border-bottom-color:white;
    border-right-color:white;
    height:90%;
    width:20%;
    overflow:auto;
}

div #schedule h4    {
    position:absolute;
    top:4%;
    left:35%;
}

div #schedule ul    {
    position:absolute;
    float:left;
    top:10%;
}

div #schedule ul li {
    font-family:Georgia;
    font-size:15px;
    color:orange;
    position:relative;
    left:30%;
    margin:10px;
}

div #continue {
    position:absolute;
    top:540px;
    left:50%;
    border-width:1px;
    padding:4px 30px 4px 30px;
    border-color:black;
    border-style:solid;
    z-index:1;
    border-radius:5px;
    /*background-color:white;*/
}

a:link {
    color:black;
    
}
a:hover  {
    padding:4px 40px 4px 40px;
    color:black;
    /*background-color:black;*/
}

 a:click   {
    color:black;
    background-color:white;
}