body    {
    background-image:url("chequered-flag.jpg");
    background-repeat:no-repeat;
    color:white;
    margin: auto auto;
    text-align: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div #outer {
    position:relative;
}

div #heading    {
    position:absolute;
    top:200px;
    left: 45%;
}

div #inner  {
    position:absolute;
    top:300px;
    left:40%;
    padding:50px;
    border-style:dashed;
    border-color:white;
    border-width:1px;
    border-radius;5px;
    
}

form #s_form    {
    padding:5px;
}

#wrapper{
    margin: 0 auto;
}
